{
    "printWidth": 120,
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "useTabs": false,
    "jsxBracketSameLine": false,
    "endOfLine": "auto",
    "parser": "typescript",
    "overrides": [
      {
        "files": "*.scss",
        "options": {
          "parser": "css"
        }
      },
      {
        "files": "*.less",
        "options": {
          "parser": "css"
        }
      }
    ]
  }